# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
electron-build
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.eslintrc.cjs
package-lock.json
tsbuildinfo.app.tsbuildinfo
tsconfig.node.tsbuildinfo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# helper files
public/helper/macos/*
public/helper/windows/*

# models
public/models/*